
*{
margin: 0;
padding: 0;
box-sizing: border-box;;
}
.container{
	background-color: yellow;
}
.navbar{
	display: flex;
	align-items: center;
	padding: 20px;
}
nav{
	flex: 1;
	text-align: center;
}
nav ul{
	display: inline-block;
	list-style-type: none;
}
nav ul li{
	display: inline-block;
	margin-right: 20px;
}
a{
	text-decoration: none;
	color: #555;
}
p{
	color: #555;
}

.main-pic{
align-items: center;
background-color: brown;
}
.row{
	display: flex;
	background-color: yellow;
	align-items: center;
	flex-wrap: wrap;;
	justify-content: space-around;
}
.col-2{
	flex-basis: 25%;
	min-width: 300px;
}
.col-2 img{
	max-width: 100%;
	padding: 50px 0;
}
